[
    {
        "address": "SKTZOKTQRDBMJZORRZZCVIUCZDNYVQDTDCFMR9TSWBHCEMJCKEV9CABHHPHMSSJKNPBDLUNZT9WYT9CSWJLITUENSW",
        "project": "PixIOTA Fund 1"
    },
    {
        "address": "TMKESL9KESTKKGUCWDJZHJOPQRVFTMHUT9MFGDQDKEIAYJONTYWRIWNFQDGHLZXFCXWCDDNZMOGGLGWFYIOUUKAKBD",
        "project": "PixIOTA Fund 2"
    },
    {
        "address": "KSPHGLUOQFCMEPQTHQ9HZPFXBPE9ZERXFEXBLIQFQSKNJPFFCMOHGTYWZ9NYMEEGSKZK9P9CQIRHAJESA9HXZFIEH9",
        "project": "PixIOTA Fund 3"
    }
]